<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mark Attendance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Mark Attendance for Session</h1>
    <form th:action="@{/schedule/mark-attendance/{scheduleId}(scheduleId=${schedule.scheduleId})}" method="post">
        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
        <div class="mb-3">
            <label class="form-label">Participants:</label>
            <ul>
                <li th:each="participant : ${schedule.participants}">
                    <input type="checkbox" th:name="userIds" th:value="${participant.userId}" class="form-check-input"/>
                    <span th:text="${participant.username}"></span>
                </li>
            </ul>
        </div>
        <button type="submit" class="btn btn-primary">Mark Attendance</button>
    </form>
</div>

</body>
</html>